body {
  padding-top: 55px
}
.WDS_main {
  width: 1000px;
  margin: 0 auto;
  font-family: "Microsoft YaHei", arial, sans-serif
}
.WDS_global_nav {
  width: 100%;
  top: 0;
  min-width: 1060px;
  margin-bottom: 10px;
  height: 49px;
  line-height: 49px;
  border-top: 1px solid #bb3923;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
  font-size: 12px;
  position: fixed;
  z-index: 1002;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3)
}
.WDS_global_nav a {
  color: #666
}
.WDS_global_nav a:hover {
  text-decoration: none
}
.WDS_global_nav .WDS_hover .WDS_dropTri, .WDS_global_nav .WDS_hover .WDS_dropdown, .WDS_global_nav .WDS_hover .WDS_dropdown2 {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12)
}
.WDS_global_nav .WDS_inline {
  display: inline;
  vertical-align: baseline
}
.WDS_global_nav_l {
  float: left
}
.WDS_global_nav_r {
  float: right
}
.WDS_global_nav_ul {
  height: 32px;
  line-height: 32px;
  padding-top: 10px
}
.WDS_global_nav_ul li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  line-height: 30px;
  height: 30px;
  position: relative
}
.WDS_dropdown, .WDS_dropdown2 {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 39px;
  padding: 1px;
  line-height: 1.5;
  background-color: #f2f2f2;
  border: 1px solid #ddd
}
.WDS_dropdown a, .WDS_dropdown2 a {
  display: block;
  padding: 8px 10px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 95%
}
.WDS_dropdown a:hover, .WDS_dropdown2 a:hover {
  color: #333;
  background-color: #f7f7f7
}
.WDS_dropdown i, .WDS_dropdown2 i {
  position: absolute;
  top: -16px;
  left: 25px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #e4e4e4 transparent
}
.WDS_dropdown i:before, .WDS_dropdown2 i:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #f2f2f2 transparent
}
.WDS_dropdown2 {
  left: auto;
  right: 0
}
.nw200 {
  width: 200px
}
.nw160 {
  width: 160px
}
.nw75 {
  width: 75px
}
.nw95 {
  width: 95px
}
.WDS_dropTri {
  position: relative;
  z-index: 2;
  padding: 0 8px;
  z-index: 1001;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline
}
.WDS_hover .WDS_dropTri {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0 7px;
  border-bottom-width: 0;
  margin: 0;
  line-height: 26px;
  *margin-top: -2px;
  *line-height: 30px;
  border-top: 2px solid #bb3923
}
.WDS_hover .WDS_dropdown, .WDS_hover .WDS_dropdown2 {
  display: block !important
}
.WDS_head {
  margin: 20px 0
}
.WDS_head_l {
  float: left
}
.WDS_head_nav {
  float: left;
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  overflow: hidden
}
.WDS_head_nav ul {
  line-height: 24px;
  margin-left: -1px
}
.WDS_head_nav li {
  padding: 0 45px;
  border-left: 1px solid #bebebe;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline
}
.WDS_head_nav a {
  position: relative;
  display: block;
  padding: 10px 10px;
  margin: -15px 0
}
.WDS_head_nav a.WDS_cur {
  padding-bottom: 7px;
  border-bottom: 3px solid #bb3923
}
.WDS_head_nav, .WDS_head_nav a {
  color: #333
}
.WDS_head_search {
  float: right
}
.WDS_ico_arrow, .WDS_ico16, .WDS_icoMsg_1, .WDS_ico_vip, .WDS_ico_signing, .WDS_ico_create {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat
}
.WDS_ico_arrow {
  width: 10px;
  height: 5px;
  background-image: url('../images/ico/icos_10.png?1497323563')
}
.WDS_ico16 {
  width: 16px;
  height: 16px;
  background-image: url('../images/ico/icos_16.png?1497323563')
}
.WDS_icoMsg_1 {
  width: 21px;
  height: 21px;
  background-image: url('../images/ico/icos_msg2.png?1497323563')
}
.WDS_ico_vip, .WDS_ico_signing, .WDS_ico_create {
  width: 24px;
  height: 14px;
  margin-right: 3px;
  vertical-align: middle;
  background-image: url('../images/ico/ico_identity.png?1497323563')
}
.WDS_ico16_1 {
  background-position: 0 0px
}
.WDS_ico16_2 {
  background-position: 0 -20px
}
.WDS_ico16_3 {
  background-position: 0 -40px
}
.WDS_ico16_4 {
  background-position: 0 -60px
}
.WDS_ico16_5 {
  background-position: 0 -80px
}
.WDS_ico_vip {
  width: 24px;
  background-position: 0 0px
}
.WDS_ico_signing {
  width: 16px;
  background-position: 0 -18px
}
.WDS_ico_create {
  width: 60px;
  background-position: 0 -36px
}
.WDS_icoMsg_1 {
  background-position: 0 0
}
.WDS_icoMsg {
  margin-left: -26px;
  margin-right: 5px;
  _display: inline;
  position: absolute;
  left: 0;
  top: 2px
}
.ico-plus {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-family: arial
}
.brush1 {
  color: #bb3923 !important
}
.brush2 {
  color: #fff !important
}
.brush3 {
  color: #390 !important
}
.brush4 {
  color: #aaa !important
}
.brush5 {
  color: #f60 !important
}
.brush6 {
  color: #910 !important
}
.txt_line {
  margin: 0 5px;
  color: #000;
  font-style: normal
}
.txt_spc2 {
  margin: 0 2px
}
.checkLoginTips {
  padding: 30px 0 15px
}
.checkLoginTips .intro {
  text-align: center;
  line-height: 20px;
  font-size: 12px
}
.checkLoginTips .intro span {
  padding: 0 5px;
  color: #c96
}
.checkLoginTips .loginBtn {
  width: 100%;
  height: 30px;
  padding: 20px 0;
  text-align: center
}
.checkLoginTips .loginBtn span {
  padding-left: 25px;
  padding-right: 30px
}
.checkLoginTips .reg {
  background: url("../../../../package/common/images/x_line.gif?v20160313109090") top left repeat-x;
  padding-top: 10px;
  height: 22px;
  text-align: center
}
.checkLoginTips .reg em {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 4px 0
}
.checkLoginTips .reg .sr-btn-gray em {
  padding: 0
}
a.sr-btn-gray-ico, a.sr-btn-gray-ico span, a.sr-btn-gray, a.sr-btn-gray span, a.sr-btn-orange, a.sr-btn-orange span, a.sr-btn-orange-ico, a.sr-btn-orange-ico span, a.sr-btn-disabled, a.sr-btn-disabled span, a.sr-btn-green, a.sr-btn-green span {
  background-image: url("../../../../images/common/m_btnBg.gif?ver=v20160313109090");
  background-position: -9999px -9999px;
  background-repeat: no-repeat;
  vertical-align: top;
  display: inline-block;
  cursor: pointer
}
a.sr-btn-gray-ico, a.sr-btn-gray, a.sr-btn-orange, a.sr-btn-orange-ico, a.sr-btn-disabled, a.sr-btn-green {
  height: 22px;
  padding: 0 0 0 5px;
  color: #333
}
a.sr-btn-gray-ico:hover, a.sr-btn-gray:hover, a.sr-btn-orange:hover, a.sr-btn-orange-ico:hover, a.sr-btn-disabled:hover, a.sr-btn-green:hover {
  text-decoration: none
}
a.sr-btn-gray-ico span, a.sr-btn-gray span, a.sr-btn-orange span, a.sr-btn-orange-ico span, a.sr-btn-disabled span, a.sr-btn-green span {
  height: 14px;
  line-height: 14px;
  color: #333;
  padding: 4px 7px 4px 2px;
  padding: 5px 7px 3px 2px\9;
  cursor: pointer
}
a.sr-btn-gray-ico i, a.sr-btn-gray i, a.sr-btn-orange-ico i, a.sr-btn-disabled i {
  margin-right: 6px;
  background-image: url("../../../../images/common/m_btnIco.gif?ver=v20160313109090");
  background-position: -9999px;
  background-repeat: no-repeat;
  vertical-align: top;
  display: inline-block;
  cursor: pointer
}
a.sr-btn-gray-ico em, a.sr-btn-gray em, a.sr-btn-orange em, a.sr-btn-orange-ico em, a.sr-btn-disabled em, a.sr-btn-green em {
  height: 14px;
  line-height: 14px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer
}
a.sr-btn-green {
  background-position: 0 -624px;
  color: #fff
}
a.sr-btn-green span {
  background-position: right -646px;
  color: #fff
}
a.sr-btn-green:hover {
  background-position: 0 -624px;
  color: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90)
}
a.sr-btn-green:hover span {
  background-position: right -646px;
  color: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90)
}
a.sr-btn-gray-ico {
  background-position: 0 0
}
a.sr-btn-gray-ico span {
  background-position: right -22px
}
a.sr-btn-gray-ico:hover {
  background-position: 0 -44px;
  color: #fff
}
a.sr-btn-gray-ico:hover span {
  background-position: right -66px;
  color: #fff
}
a.sr-btn-gray-ico i.add {
  width: 8px;
  height: 8px;
  background-position: 0 -60px;
  margin-top: 3px;
  margin-top: 1px\9
}
a.sr-btn-gray-ico:hover i.add {
  background-position: -20px -60px
}
a.sr-btn-gray-ico i.cut {
  width: 8px;
  height: 8px;
  background-position: 0 -40px;
  margin-top: 3px;
  margin-top: 1px\9
}
a.sr-btn-gray-ico:hover i.cut {
  background-position: -20px -40px
}
a.sr-btn-gray-ico i.share {
  width: 9px;
  height: 9px;
  background-position: 0 -20px;
  margin-top: 3px;
  margin-top: 1px\9
}
a.sr-btn-gray-ico:hover i.share {
  background-position: -20px -20px
}
a.sr-btn-gray-ico i.comment {
  width: 12px;
  height: 10px;
  background-position: 0 -107px;
  margin-top: 2px;
  margin-top: 0px\9
}
a.sr-btn-gray-ico:hover i.comment {
  background-position: -20px -107px
}
a.sr-btn-gray {
  background-position: 0 0
}
a.sr-btn-gray span {
  background-position: right -22px
}
a.sr-btn-gray:hover {
  background-position: 0 0;
  color: #333
}
a.sr-btn-gray:hover span {
  background-position: right -22px;
  color: #333
}
a.sr-btn-gray i.add {
  width: 8px;
  height: 8px;
  background-position: 0 -60px;
  margin-top: 3px;
  margin-top: 1px\9
}
a.sr-btn-gray:hover i.add {
  background-position: 0 -60px
}
a.sr-btn-gray i.added, a.sr-btn-gray i.self {
  width: 12px;
  height: 9px;
  background-position: -40px -20px;
  margin-top: 2px;
  margin-top: 0px\9;
  cursor: default
}
a.sr-btn-gray:hover i.added, a.sr-btn-gray:hover i.self {
  background-position: -40px -20px
}
a.sr-btn-gray i.both {
  width: 12px;
  height: 12px;
  background-position: -40px 0;
  margin-top: 1px;
  margin-top: 0px\9;
  cursor: default
}
a.sr-btn-gray:hover i.both {
  background-position: -40px 0
}
a.sr-btn-orange {
  background-position: 0 -176px;
  color: #fff
}
a.sr-btn-orange span {
  background-position: right -198px;
  color: #fff
}
a.sr-btn-orange:hover {
  background-position: 0 -176px;
  color: #fff
}
a.sr-btn-orange:hover span {
  background-position: right -198px;
  color: #fff
}
a.sr-btn-orange-ico {
  background-position: 0 -176px;
  color: #fff
}
a.sr-btn-orange-ico span {
  background-position: right -198px;
  color: #fff
}
a.sr-btn-orange-ico:hover {
  background-position: 0 -44px;
  color: #fff
}
a.sr-btn-orange-ico:hover span {
  background-position: right -66px;
  color: #fff
}
a.sr-btn-orange-ico i.read {
  width: 11px;
  height: 7px;
  background-position: 0 0;
  margin-top: 4px;
  margin-top: 2px\9
}
a.sr-btn-orange-ico:hover i.read {
  background-position: 0 0
}
a.sr-btn-orange-ico i.add {
  width: 8px;
  height: 8px;
  background-position: -20px -60px;
  margin-top: 3px;
  margin-top: 1px\9
}
a.sr-btn-orange-ico:hover i.add {
  background-position: -20px -60px
}
a.sr-btn-orange-ico i.inter {
  width: 9px;
  height: 9px;
  background-position: -40px -40px;
  margin-top: 3px;
  margin-top: 1px\9
}
a.sr-btn-orange-ico:hover i.inter {
  background-position: -40px -40px
}
a.sr-btn-disabled {
  background-position: 0 -88px;
  color: #ccc;
  cursor: default
}
a.sr-btn-disabled span {
  background-position: right -110px;
  color: #ccc;
  cursor: default
}
a.sr-btn-disabled:hover {
  background-position: 0 -132px;
  color: #ccc
}
a.sr-btn-disabled:hover span {
  background-position: right -154px;
  color: #ccc
}
a.sr-btn-disabled i.read {
  width: 11px;
  height: 7px;
  background-position: -20px 0;
  margin-top: 4px;
  margin-top: 2px\9
}
a.sr-btn-disabled:hover i.read {
  background-position: -20px 0
}

/*# sourceMappingURL=nav.css.map */
